*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: rgb(36, 35, 35);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
}

header a{
    text-decoration: none;
}

.nav-link{
    font-family: Consolas, monaco, monospace;
    font-size: 30px;
    padding-right: 200px;
    color: #2b7a60;
}

:hover .nav-link{
    color: #2b7a60;
}

.nav-link1{
    padding-top: 17px;
    color: aliceblue;
    letter-spacing: 2px;
}

:hover .nav-link1{
    color: aliceblue;
    text-decoration: none;
}

body{
    background-image: linear-gradient( to top,  rgb(35, 35, 37),      #2b7a60);
    margin: 0;
    background-color: #ddd; 
    background-repeat: no-repeat;                        /* repeat // repeat-x // repeat-y // no-repeat */
    background-position: center top;                     /* top // bottom // left // rigth // center */
    background-attachment: fixed;                        /* scroll // fixed */
    /*background-size: 300px auto;*/
    /*background-size: 100% auto;*/
    background-size: cover;
}

.main-projetos{
    margin-top: 30px;
}

.grupo-1{
    display: flex;
}

.grupo-2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

body img{
    width: 600px;
    border-radius: 20px
}

.card {
    width: 645px;
    height: 465px;
    margin: 0 auto;
    background-color: rgb(36, 35, 35);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    color: aliceblue;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   

body::-webkit-scrollbar {
    width: 1px;               /* width of the entire scrollbar */
  }     
  body::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        /* color of the tracking area */
  }  
  body::-webkit-scrollbar-thumb {
    background-color: #2b7a60;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 5px solid #2b7a60;  /* creates padding around scroll thumb */
  }  

  @media screen and (max-width: 1020px){
    header{
        display: block;
        background-color: rgb(36, 35, 35);
        color: white;
        text-align: center;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    header a{
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    
    .nav-link{
        font-family: Consolas, monaco, monospace;
        font-size: 30px;
        padding-right: 200px;
        color: #2b7a60;
    }
    
    :hover .nav-link{
        color: #2b7a60;
    }

    .main-projetos{
        margin-top: 30px;
    }
    
    .grupo-1{
        display: flex;
        flex-direction: column;
    }
    
    .grupo-2{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    body img{
        width: 350px;
        border-radius: 20px
    }
    
    .card {
        width: 370px;
        height: 305px;
        margin: 10px auto;
        background-color: rgb(36, 35, 35);
        border-radius: 20px;
        align-items: center;
        text-align: center;
        color: aliceblue;
        z-index: 1;
       }
       
       .tools {
        display: flex;
        align-items: center;
        padding: 9px;
       }
       
       .circle {
        padding: 0 4px;
       }
       
       .box {
        display: inline-block;
        align-items: center;
        width: 10px;
        height: 10px;
        padding: 1px;
        border-radius: 50%;
       }
       
       .red {
        background-color: #ff605c;
       }
       
       .yellow {
        background-color: #ffbd44;
       }
       
       .green {
        background-color: #00ca4e;
       }
}

@media screen and (max-width: 940px){
    header{
        display: block;
        background-color: rgb(36, 35, 35);
        color: white;
        text-align: center;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    header a{
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    .main-projetos{
        margin-top: 30px;
    }
    
    .grupo-1{
        display: flex;
        flex-direction: column;
    }
    
    .grupo-2{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
    body img{
        width: 350px;
        border-radius: 20px
    }
    
    .card {
        width: 370px;
        height: 305px;
        margin: 10px auto;
        background-color: rgb(36, 35, 35);
        border-radius: 20px;
        align-items: center;
        text-align: center;
        color: aliceblue;
        z-index: 1;
       }
       
       .tools {
        display: flex;
        align-items: center;
        padding: 9px;
       }
       
       .circle {
        padding: 0 4px;
       }
       
       .box {
        display: inline-block;
        align-items: center;
        width: 10px;
        height: 10px;
        padding: 1px;
        border-radius: 50%;
       }
       
       .red {
        background-color: #ff605c;
       }
       
       .yellow {
        background-color: #ffbd44;
       }
       
       .green {
        background-color: #00ca4e;
       }

}

